<%= select_f f, :size, compute_resource.flavors, :slug, :slug, {}, {:label => _('Flavor')}  %>
<%
   arch ||= nil
   os   ||= nil
   images = possible_images(compute_resource, arch, os)
   images = compute_resource.available_images if images.empty?
   regions = compute_resource.regions
   f.object.region = compute_resource.region
%>

<div id='image_selection'>
<%= select_f f, :image, images, :uuid, :name, { :include_blank => (images.empty? || images.size == 1) ? false : _('Please Select an Image') }, { :label => ('Image'), :disabled => images.empty? } %>
</div>
<div id='region_selection'>
<%= select_f f, :region, regions, :slug, :name, {}, { :label => ('Region'), :disabled => images.empty?} %>
</div>
